
.flash1{ animation:flash1 var(--animation-time) infinite; }
.flash2{ animation:flash2 var(--animation-time) infinite; }
.flash3{ animation:flash3 var(--animation-time) infinite; }
.flash4{ animation:flash4 var(--animation-time) infinite; }
.flash5{ animation:flash5 var(--animation-time) infinite; }
.flash6{ animation:flash6 var(--animation-time) infinite; }
.flash7{ animation:flash7 var(--animation-time) infinite; }
.flash8{ animation:flash8 var(--animation-time) infinite; }
.flash9{ animation:flash9 var(--animation-time) infinite; }
.flash10{ animation:flash10 var(--animation-time) infinite; }
@keyframes flash11{ 0%, 100% { opacity:0 ; } 50% { opacity: 1; } }
@keyframes flash9{ 0%, 100% { opacity: 0; } 10% { opacity: .9; } }
@keyframes flash8{ 0%, 100% { opacity: 0; } 20% { opacity: .8; } }
@keyframes flash7{ 0%, 100% { opacity: 0; } 30% { opacity: .7; } } 
@keyframes flash6{ 0%, 100% { opacity: 0; } 40% { opacity: .6; } }
@keyframes flash5{ 0%, 100% { opacity: 0; } 50% { opacity: .5; } }
@keyframes flash4{ 0%, 100% { opacity: 0; } 60% { opacity: .4; } }
@keyframes flash3{ 0%, 100% { opacity: 0; } 70% { opacity: .3; } }
@keyframes flash2{ 0%, 100% { opacity: 0; } 80% { opacity: .2; } }
@keyframes flash1{ 0%, 100% { opacity: 0; } 90% { opacity: .1; } }



.a1{ animation: a1 var(--animation-time-b)  infinite; }
.a2{ animation: a2 var(--animation-time-b)  infinite; }
.a3{ animation: a3 var(--animation-time-b)  infinite; }
.a4{ animation: a4 var(--animation-time-b)  infinite; }
.a5{ animation: a5 var(--animation-time-b)  infinite; }
.a6{ animation: a6 var(--animation-time-b)  infinite; }
.a7{ animation: a7 var(--animation-time-b)  infinite; }
.a8{ animation: a8 var(--animation-time-b)  infinite; }
.a9{ animation: a9 var(--animation-time-b)  infinite; }
.a10{ animation: a10 var(--animation-time-b) infinite; }
.a11{ animation: a11 var(--animation-time-b) infinite; }
.a12{ animation: a12 var(--animation-time-b) infinite; }
.a13{ animation: a13 var(--animation-time-b) infinite; }
.a14{ animation: a14 var(--animation-time-b) infinite; }
.a15{ animation: a15 var(--animation-time-b) infinite; }
.a16{ animation: a16 var(--animation-time-b) infinite; }
.a17{ animation: a17 var(--animation-time-b) infinite; }
.a18{ animation: a18 var(--animation-time-b) infinite; }
.a19{ animation: a19 var(--animation-time-b) infinite; }
.a20{ animation: a20 var(--animation-time-b) infinite; }

@keyframes a1{ 0%,100%{fill:var(--lowcolor)} 5%{fill:var(--colorhight)} }
@keyframes a2{ 0%,100%{fill:var(--lowcolor)} 10%{fill:var(--colorhight)} }
@keyframes a3{ 0%,100%{fill:var(--lowcolor)} 15%{fill:var(--colorhight)} }
@keyframes a4{ 0%,100%{fill:var(--lowcolor)} 20%{fill:var(--colorhight)} }
@keyframes a5{ 0%,100%{fill:var(--lowcolor)} 25%{fill:var(--colorhight)} }
@keyframes a6{ 0%,100%{fill:var(--lowcolor)} 30%{fill:var(--colorhight)} }
@keyframes a7{ 0%,100%{fill:var(--lowcolor)} 35%{fill:var(--colorhight)} }
@keyframes a8{ 0%,100%{fill:var(--lowcolor)} 40%{fill:var(--colorhight)} }
@keyframes a9{ 0%,100%{fill:var(--lowcolor)} 45%{fill:var(--colorhight)} }
@keyframes a10{ 0%,100%{fill:var(--lowcolor)} 50%{fill:var(--colorhight)} }
@keyframes a11{ 0%,100%{fill:var(--lowcolor)} 55%{fill:var(--colorhight)} }
@keyframes a12{ 0%,100%{fill:var(--lowcolor)} 60%{fill:var(--colorhight)} }
@keyframes a13{ 0%,100%{fill:var(--lowcolor)} 65%{fill:var(--colorhight)} }
@keyframes a14{ 0%,100%{fill:var(--lowcolor)} 70%{fill:var(--colorhight)} }
@keyframes a15{ 0%,100%{fill:var(--lowcolor)} 75%{fill:var(--colorhight)} }
@keyframes a16{ 0%,100%{fill:var(--lowcolor)} 80%{fill:var(--colorhight)} }
@keyframes a17{ 0%,100%{fill:var(--lowcolor)} 85%{fill:var(--colorhight)} }
@keyframes a18{ 0%,100%{fill:var(--lowcolor)} 90%{fill:var(--colorhight)} }
@keyframes a19{ 0%,100%{fill:var(--lowcolor)} 95%{fill:var(--colorhight)} }
@keyframes a20{ 
  0%{fill:var(--lowcolor)} 
  95%{fill:var(--colorhight)} 
  96%{fill:var(--lowcolor)} 
  97%{fill:var(--colorhight)} 
  98%{fill:var(--lowcolor)} 
  99%{fill:var(--colorhight)} 
  100%{fill:var(--lowcolor)} 
}


.gradient-stroke-animation {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}

.gradient-stroke-animation::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: linear-gradient(135deg, #ff0000, #00ff00);
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradient-stroke 3s infinite;
}

@keyframes gradient-stroke {
  0%, 100% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
}



.b1{
  animation:b1 1s infinite;
}
@keyframes b1 {
  0%{ transform: translateY(80px);opacity: 0;}
  20%{ transform: translateY(-200px);opacity: 1;}
  100%{ transform: translateY(-500px);opacity: 0;}
}