:root{
    --animation-time:2s;
    --animation-time-b:6s;
    // --main-color:#00F7FF;
    // --active-color:#006063;
    // --lowcolor:#363636;
    // --colorhight:#e0e0e0;
    --header-height:56px;
}

.blue{
    --main-color:#8ad0ff;
    --lowcolor:#00193e;
    --colorhight:#00aeff;
    --active-color:#104571;
    --hover-color:#003f63;
    --background:url('@/assets/backgroundblue.png')
}
.cyan{
    --main-color:#00F7FF;
    --lowcolor:#006063;
    --colorhight:#00ceb9;
    --active-color:#006063;
    --hover-color:#006063;
    --background:url('@/assets/backgroundcyan.png')
}
header{
    height:var(--header-height);
    width: 100vw;
}
main{
    height:calc(100vh - var(--header-height));
    position: relative;
    padding:1rem;
    z-index:1
}
.danger{
    svg{
        g{
        }
    }
}
.dangerFont{
    color:rgb(255, 0, 0)
}
.dangerPanel{
 fill: rgba(255,0,0,.8)
}
.dangerLine{
       
}
i{
  margin: 0 8px;
  svg{
    path{
      fill:var(--main-color)
    }
  }
  .is{
    height:32px;
    width:32px;
  }
}
table {
  border-collapse: collapse; /* Remove spacing between table cells */
  margin: 0; /* Remove margin around the table */
  padding: 0; /* Remove padding inside the table */
}

th,
td {
  padding: 0; /* Remove padding inside table cells */
}

.cover{
  background: rgba(0,0,0,.5);
  height:100vh;
  width:100vw;
  position: absolute;
  z-index: 100;
}


/* Optionally, remove spacing for other elements inside the table */
/* For example, remove padding for nested div elements */
table div {
  padding: 0;
}

*{
    font-family:PingFang SC,HarmonyOS_Regular,Helvetica Neue,Microsoft YaHei,sans-serif!important;
      box-sizing: border-box;
      padding:0;
      margin:0;
  }

  body,#app{
    background:var(--background);
    background-size:100%;
    background-color: black;
    width:100vw;
    height:100vh;
  }
  #box1{
      position: relative;
  }

  #box1{
      position: absolute;
      top:2rem;
      left:2rem;
  }
  body{
      padding:0;
      margin:0;
      background-size:100%;
  }
  section{
      position: relative;
      width:100vw;
      height:calc(100vh - 52px);
  }
  .linecolor{
      fill:#01616a
  }
  header{
      /* background-image: url('top.svg'); */
      display: flex;
      justify-content: center;
      align-items: center;
      background-repeat: no-repeat;
      background-position:center;
      height: 52px;
      width:100vw;
  }
  .frame{
    position: absolute;
  }
  .ground{
    margin: 3rem;
    position: relative;
    width:581px;
    height:372px;
  }
  .modeul{
    position: absolute;
    z-index: 300;
  }
  input[class="buttonabosulte"]{
      background-color: transparent;
      border:0;
      padding:0;
      margin:0;
      outline:0;
      position: absolute;
      top:4rem;
      left:3rem;
      color:#00F7FF;
  }
  h1,h2{
    width: 100%;
    text-align: center;
    margin-top:0;
      color:var(--colorhight);
  }
  side{
      position: absolute;
    margin:8px;
  }
  .topright{
      top:0px;
      right:8px;
  }
  .mirror {
    transform: scaleX(-1);
    right:8px;
    position: absolute;
    /* direction: rtl !important; */
  }
  .bottom{
      position: absolute;
      left:1rem;
      bottom:8px;
      z-index: -1;
  }
  .bottomright{
      position: absolute;
      right:1rem;
      bottom:8px;
      transform: scaleX(-1);
  }
  .move{
    animation: move 3s infinite;
  }
  @keyframes move{
    0%{transform: translateX(0px);}
    50%{transform: translateX(200px);opacity: 1;}
    100%{transform: translateX(300px);opacity: 0;}
  }

#topbox{
}

.perspective{
  position: relative;
  width:100vw;
  height: 100vh;
 transform-style: preserve-3d;
 transform: perspective(1200px) rotateY(60deg) scale(.5);
// //transform: perspective(800px) rotateY(35deg) scale(.5);
}

@import './animation.scss';